body{
    @import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@400;700&display=swap');
    font-family: 'Poppins', sans-serif;
    margin: 1.5em; 
    padding: 0;
    box-sizing: border-box;
}



.close{
    display: none;
    width: 2rem;
}

.hero{

}

.down-arrow{
    width: 5rem;
    height: 5rem;
}


